{% extends "base.html" %}
{% block title %}Сайт кулинарных рецептов{% endblock %}
{% block content %}
    <h1>Сайт с рецептами</h1>
    {% for recipe in recipes %}
        <h2>
            <a href="{{recipe.get_absolute_url}}">{{recipe.name}}</a>
        </h2>
        <p class="date">
            Published {{recipe.published}} by {{recipe.author}}
        </p>
        {{recipe.description|truncatewords:30|linebreaks}}
    {% endfor %}
    {% include "pagination.html" with page=recipes %}
{% endblock %}