{% extends "base.html" %}
{% block title %}{{recipe.name}}{% endblock %}
{% block content %}
<div>
  {% if user == recipe.author %}
  <h2>Этот Ваш рецепт. Можете его обновить или удалить.</h2>
  <p></p>
  <div><a href="{% url 'main_app:recipe_update' pk=recipe.pk %}">Обновить рецепт</a></div>
  <br>
  <div><a href="{% url 'main_app:recipe_delete' pk=recipe.pk %}">Удалить рецепт</a></div>
  {% endif %}
</div>
<h1>{{recipe.name}}</h1>
<p class="date">
  Published {{recipe.published}} by {{recipe.author}}
</p>
<p>Краткое описание рецепта: {{recipe.description}}</p>
<p class="cooking-time">Время приготовления: {{recipe.cooking_time}}</p>
<p style="border-bottom: 1px solid #777; padding: 0 0 10px 0;">Категории: {{recipe.categories.all|join:', '}}</p>
<p class="cooking-instructions">
{{recipe.cooking_instructions|linebreaks}}</p>
{% if recipe.image %}
<img src="{{recipe.image.url}}" width="70%" height="70%" alt="recipe.img.name">
{% endif %}
{% with comments.count as total_comments %}
  <h2>
    Общее количество комментариев {{total_comments}}
  </h2>
{% endwith %}
{% for comment in comments %}
  <div class="comment">
    <p class="info">
      Comment {{forloop.counter}} by {{comment.name}}
      {{comment.created}}
    </p>
    {{comment.body|linebreaks}}
  </div>
{% empty %}
{% endfor %}
{% include "main_app/includes/comment_form.html" %}
{% endblock %}